<?xml version="1.0" encoding="UTF-8"?>
<!-- https://logging.apache.org/log4j/2.x/manual/layouts.html -->
<Configuration status="WARN">
    <properties>
        <property name="LOG_HOME">logs</property>
        <property name="FILE_NAME">exampleapp</property>
        <property name="log.level">info</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS.Z} [%-5level][%t][%c{1.}.%M:%L]%msg%n" />
        </Console>
        <RollingFile name="RollingFileName" append="true" fileName="${LOG_HOME}/${FILE_NAME}.log" filePattern="${LOG_HOME}/${FILE_NAME}-%i.log">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS.Z} [%-5level][%t][%c{1.}.%M:%L]%msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFileName" />
        </Root>

    </Loggers>
</Configuration>